/* meyerweb Reset */
@use '_meyerweb-reset';

/* Variables */
$black: #272a31;
$dark-gray: #414246;
$light-gray: #d3d3d3;
$white: #fff;
$orange: #ec5242;

/* Global */

.section-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 30px;
  margin-bottom: 5px;
}

.section-title::after {
  content: "";
  margin: 10px auto;
  display: block;
  border-bottom: 2px solid $orange;
  width: 25px;
}

* {
  font-family: 'Lato', sans-serif;
}

/* Header */
.header {
  background-color: $light-gray;
}

.fa-bars {
  font-size: 30px;
  padding-left: 18px;
  padding-top: 12px;
}

.nav-bar {
  z-index: 999;
}

.nav-bar-top {
  height: 30px;
  background-color: $black;
}

.nav-top-links {
  text-decoration: none;
}

.nav-bar-bottom {
  height: 65px;
  background-color: $white;
}

.header-logo {
  width: auto;
  height: 30px;
  margin-right: 55px;
}

.nav-bottom-links {
  color: $dark-gray;
  text-decoration: none;
  padding-right: 34px;
  opacity: .75;
}

.link-about {
  color: $orange;
}

.button-campaing {
  border: solid $orange 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: $orange;
  font-size: 15px;
  font-weight: bold;
}

.header-info {
  margin-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.header-greeting {
  font-size: 30px;
  color: $orange;
}

.header-title {
  font-size: 33px;
  color: $orange;
  font-family: "Cocogoose", sans-serif;
  font-weight: bolder;
}

.header-info-box {
  color: $dark-gray;
  margin: 50px auto;
  background-color: $white;
  max-width: 720px;
  font-size: 17px;
}

.contact-info {
  color: $dark-gray;
  font-size: 18px;
}

.contact-link {
  color: $dark-gray;
  font-size: 14px;
  font-weight: bold;
}

/* Logo contest */
.logo-contest {
  color: $dark-gray;
  background-color: $white;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
}

.contest-info {
  font-size: 16px;
}

.main-logo {
  max-width: 340px;
  height: auto;
  margin: 45px auto 30px auto;
}

/* Past Conferences */
.past-conferences {
  color: $dark-gray;
}

.past-img {
  color: $white;
  display: block;
  background-color: $orange;
  width: 300px;
  height: 165px;
}

/* Partners */
.partners {
  background-color: $dark-gray;
}

.partners-title::after {
  content: "";
  margin: 10px auto;
  display: block;
  border-bottom: 2px solid $orange;
  width: 40px;
}

.partners-list {
  padding: 0;
  margin-bottom: 44px;
}

.partners-logo {
  width: auto;
  height: 65px;
}

/* Footer */
.legal {
  padding: 70px 0;
}

.footer-logo {
  width: 130px;
  height: auto;
  margin-right: 55px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .header-info {
    margin-top: 0;
    padding-top: 140px;
    padding-bottom: 70px;
  }

  .header-title::after {
    content: "";
    margin: 10px auto;
    display: block;
    border-bottom: 2px solid $orange;
    width: 25px;
  }

  .header-info-box {
    margin: 30px auto;
    font-size: 12px;
  }

  .contact-link::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    border-right: 2px solid $dark-gray;
    border-bottom: 2px solid $dark-gray;
    width: 10px;
    height: 10px;
    transform: rotate(315deg);
  }

  .contest-info {
    font-size: 14px;
  }

  .legal {
    color: $white;
    background-color: $dark-gray;
  }

  .footer-logo {
    width: 150px;
    height: auto;
    margin-right: 55px;
  }
}
