/* meyerweb Reset */
@use '_meyerweb-reset';

/* Variables */
$black: #272a31;
$dark-gray: #414246;
$light-gray: #d3d3d3;
$white: #fff;
$orange: #ec5242;

/* Global */

.section-title {
  font-size: 18px;
  line-height: 18px;
  padding-top: 30px;
  margin-bottom: 30px;
}

* {
  font-family: 'Lato', sans-serif;
}

/* Header */
.header {
  background-color: $light-gray;
}

.fa-bars {
  font-size: 30px;
  padding-left: 18px;
  padding-top: 12px;
}

.nav-bar {
  z-index: 999;
}

.nav-bar-top {
  height: 30px;
  background-color: $black;
}

.nav-top-links {
  text-decoration: none;
}

.nav-bar-bottom {
  height: 65px;
  background-color: $white;
}

.nav-bottom-links {
  color: $dark-gray;
  text-decoration: none;
  padding-right: 34px;
  opacity: .75;
}

.link-about {
  color: $orange;
}

.button-campaing {
  border: solid $orange 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: $orange;
  font-size: 15px;
  font-weight: bold;
}

.header-info {
  margin-top: 45px;
  padding-bottom: 100px;
}

.header-greeting {
  font-size: 30px;
  color: $orange;
  margin: 0;
}

.header-title {
  font-size: 47px;
  color: $orange;
  font-family: "Cocogoose", sans-serif;
  font-weight: bolder;
}

.header-info-box {
  background-color: $light-gray;
  max-width: 530px;
  font-size: 12px;
}

.date-info {
  font-size: 25px;
  font-weight: bolder;
}

.location-info {
  font-size: 18px;
}

/* Main Program */
.main-program {
  background-color: $black;
}

.main-program-item {
  width: 100%;
  height: 100%;
  color: $white;
}

.main-program-cover {
  width: 100%;
  height: 100%;
  background-color: $white;
  opacity: .1;
}

.program-icon {
  font-size: 50px;
}

.program-title {
  color: $orange;
  font-size: 16px;
}

.program-info {
  font-size: 12px;
}

.program-link {
  font-size: 18px;
  margin-top: 65px;
  padding-bottom: 80px;
}

.join-link {
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  background-color: $orange;
  padding: 30px;
  margin: 30px 0;
}

/* Featured Speakers */
.featured-speakers {
  color: $dark-gray;
}

.featured-box {
  margin-top: 45px;
}

.featured-photo {
  margin: 12px 12px;
}

.featured-text-box {
  padding-top: 10px;
  margin: 0 0 50px 110px;
  height: 143px;
}

.partners {
  background-color: $dark-gray;
}

.cover {
  background-color: $dark-gray;
  opacity: .5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* Partners */
.partners-list {
  margin-bottom: 44px;
}

/* Footer */
.legal {
  padding: 70px 0;
}

.footer-logo {
  margin-right: 55px;
}

/* Media Queries */
@media screen and (min-width: 768px) {

.header-info {
    margin-top: 0;
    padding-top: 140px;
  }
}
