/* Variables */
$black: #272a31;
$dark-gray: #414246;
$light-gray: #d3d3d3;
$lighter-gray: #f7f7f7;
$white: #fff;
$orange: #ec5242;

/* Global */
.section-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 30px;
  margin-bottom: 5px;
}

.section-title::after {
  content: "";
  margin: 10px auto;
  display: block;
  border-bottom: 2px solid $orange;
  width: 25px;
}

* {
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

.steps::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  background-color: $orange;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

/* Header */
.header {
  background-color: $lighter-gray;
}

.fa-bars {
  font-size: 30px;
  padding-left: 18px;
  padding-top: 12px;
}

.nav-bar {
  z-index: 999;
}

.nav-bar-top {
  height: 30px;
  background-color: $black;
}

.nav-top-links {
  text-decoration: none;
}

.nav-bar-bottom {
  height: 65px;
  background-color: $white;
}

.header-logo {
  width: auto;
  height: 30px;
  margin-right: 100px;
}

.nav-bottom-links {
  color: $dark-gray;
  text-decoration: none;
  padding-right: 34px;
  opacity: 0.75;
}

.link-about {
  color: $orange;
}

.button-campaing {
  border: solid $orange 4px;
  padding: 6px 12px;
  text-decoration: none;
  color: $orange;
  font-size: 15px;
  font-weight: bold;
}

/* select Tickets */
.select-tickets {
  margin-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.info-box {
  display: inline-block;
  padding: 5px 20px;
  color: $dark-gray;
  margin: 40px auto 30px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid $light-gray;
}

.table-row {
  border: 2px solid $light-gray;
  border-collapse: collapse;
}

.table-data {
  color: $dark-gray;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px groove $light-gray;
  border-collapse: collapse;
}

.table-header {
  background-color: $lighter-gray;
}

.tickets-label {
  display: block;
  color: $orange;
  font-size: 16px;
}

.steps {
  margin: 0 10px;
  color: $orange;
}

/* Select Room */
.select-room {
  color: $dark-gray;
  background-color: $white;
  border-top: 2px solid $light-gray;
  padding-bottom: 40px;
}

.room-title {
  font-size: 18px;
  vertical-align: middle;
  padding: 10px 0;
  background-color: $lighter-gray;
}

.label-room {
  padding-left: 10px;
}

.join-link {
  font-size: 18px;
  text-decoration: none;
  background-color: $orange;
  padding: 10px 30px;
  margin: 30px 0;
  color: $white;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .select-tickets {
    margin-top: 0;
    padding-top: 140px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 992px) {
  .header-logo {
    margin-right: 230px;
  }
}
